- content_for :foot do
  :coffeescript
    kakesan.goSettingButtonDidPushed = ->
        location.href = "#{load_ksapi(edit_user_path(current_user), '設定')}"

    $ ->
      kakesan.loadAPI('#{button_ksapi('kakesan.goSettingButtonDidPushed', '設定', 'right')}')

      kakesan.ajax_loader(#{@next}, '#{request.path}', {search: "#{@search}"})
#search-nav.clearfix
  = link_to private_talks_path(current_user, params: {search: 'hosted'}) do
    .nav{class: @search == 'hosted' ? 'selected' : nil}
      主催している
  = link_to private_talks_path(current_user, params: {search: 'entried'}) do
    .nav{class: @search == 'entried' ? 'selected' : nil}
      参加している
%ul#theme-list
  #contents
    = render 'talks/list', talks: @talks, hosted: @search == 'hosted'