= link_to load_ksapi(event_path(event), 'イベント詳細') do 
  %li.event
    .kakesan.clearfix
      .box
        = event.where
      .kake
        %span ×
      .box
        %span= event.who
      .kake
        %span ×
      .box
        %span= event.what
    .description.no-wrap
      %span= event.description
    .info.clearfix
      .photo.left{style: "background: url(#{event.user.image}) no-repeat center; background-size: cover;"}
      .name.left
        %span= event.user.nickname
      .time.right
        %span= twitter_like_time(event.created_at)
