- content_for :foot do
  :coffeescript
    $ ->
      kakesan.loadAPI('#{button_ksapi('kakesan.closeButtonDidPushed', '閉じる', 'right')}')
#wrapper
  - if notice
    .notice
      %span= notice

  - if @event.errors.any?
    %ul.error
      - @event.errors.full_messages.uniq.each do |message|
        %li= message
  = form_for @event do |f|
    = f.hidden_field :user_id
    .column
      .label
        %span= f.label :title
        %span.caution= "※必須。 #{Event::TITLE_MAX_LENGTH}文字以内"
      .field.clearfix
        .left= f.text_field :title, maxlength: Event::TITLE_MAX_LENGTH, class: 'title'
        .left.title-tail 
          %span が好き

    .column
      .label
        %span= f.label :where
        %span.caution= "※必須。 #{Event::KAKESAN_MAX_LENGTH}文字以内"
      .field= f.text_field :where, maxlength: Event::KAKESAN_MAX_LENGTH
      .field= f.text_field :who, maxlength: Event::KAKESAN_MAX_LENGTH
      .field= f.text_field :what, maxlength: Event::KAKESAN_MAX_LENGTH
    .column
      .label
        %span= f.label :description
      .field= f.text_area :description, maxlength: Event::DESCRIPTION_MAX_LENGTH
    .submit
      = f.submit 'イベントを作る', class: 'button'